<%@ Master Language="C#" MasterPageFile="~/Left.master" AutoEventWireup="true" CodeFile="Bottom.master.cs" Inherits="Bottom" %>

<asp:Content ID="cntContent" ContentPlaceHolderID="cphContent" runat="server">
    <asp:ContentPlaceHolder ID="cphContent" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="cntBottom" ContentPlaceHolderID="cphBottom" runat="server">
    <hr />
    copyleft <img src="images/copyleft.png" style="height: 12px; width: 12px" /> Since 2011
</asp:Content>
